In [1]:
import pandas as pd

In [2]:
modelling_data = pd.read_csv("data/df_deduplicated.csv")

In [13]:
print(modelling_data)

      Unnamed: 0             Tyres  From  To  #Laps  year_x  raceId  driverId
0              0         Soft Used     1  16     16    2012     860      18.0  \
1              2        Medium New    17  36     20    2012     860      18.0
2              4        Medium New    37  58     22    2012     860      18.0
3              6    Supersoft Used     1   4      4    2013     880      18.0
4              9        Medium New     5  20     16    2013     880      18.0
...          ...               ...   ...  ..    ...     ...     ...       ...
4696       24304  Intermediate New    13  23     11    2021    1053     853.0
4697       24308         Soft Used    24  31      8    2021    1053     853.0
4698       24334        Medium New     1  31     31    2021    1051     853.0
4699       24364        Medium New    15  41     27    2015     944     834.0
4700       24368          Soft New     1  27     27    2015     943     834.0

     driverRef_x  round  ...  fastestLapTime fastestLapSpeed statusId
0         button      1  ...        1:29.187         214.053        1  \
1         button      1  ...        1:29.187         214.053        1
2         button      1  ...        1:29.187         214.053        1
3         button      1  ...        1:30.198         211.654        1
4         button      1  ...        1:30.198         211.654        1
...          ...    ...  ...             ...             ...      ...
4696     mazepin      2  ...        1:20.402         219.800       12
4697     mazepin      2  ...        1:20.402         219.800       12
4698     mazepin     20  ...        1:27.340         221.754       12
4699       rossi     18  ...        1:18.617         197.316       14
4700       rossi     17  ...        1:25.005         182.276       12

     driverRef_y  surname  stop  lap      time  duration  milliseconds_y
0         button   Button     1   16  17:28:30    23.275           23275
1         button   Button     1   16  17:28:30    23.275           23275
2         button   Button     1   16  17:28:30    23.275           23275
3         button   Button     1    4  17:09:54    22.282           22282
4         button   Button     1    4  17:09:54    22.282           22282
...          ...      ...   ...  ...       ...       ...             ...
4696     mazepin  Mazepin     1   12  15:27:20    31.168           31168
4697     mazepin  Mazepin     1   12  15:27:20    31.168           31168
4698     mazepin  Mazepin     1   31  17:51:36    26.515           26515
4699       rossi    Rossi     1   14  14:22:03    25.492           25492
4700       rossi    Rossi     1   27  13:43:29    25.367           25367

[4701 rows x 41 columns]

In [3]:
modelling_data.head()

,Unnamed: 0,Tyres,From,To,#Laps,year_x,raceId,driverId,driverRef_x,round,...,fastestLapTime,fastestLapSpeed,statusId,driverRef_y,surname,stop,lap,time,duration,milliseconds_y
0,0,Soft Used,1,16,16,2012,860,18.0,button,1,...,1:29.187,214.053,1,button,Button,1,16,17:28:30,23.275,23275
1,2,Medium New,17,36,20,2012,860,18.0,button,1,...,1:29.187,214.053,1,button,Button,1,16,17:28:30,23.275,23275
2,4,Medium New,37,58,22,2012,860,18.0,button,1,...,1:29.187,214.053,1,button,Button,1,16,17:28:30,23.275,23275
3,6,Supersoft Used,1,4,4,2013,880,18.0,button,1,...,1:30.198,211.654,1,button,Button,1,4,17:09:54,22.282,22282
4,9,Medium New,5,20,16,2013,880,18.0,button,1,...,1:30.198,211.654,1,button,Button,1,4,17:09:54,22.282,22282

In [4]:
modelling_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4701 entries, 0 to 4700
Data columns (total 41 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       4701 non-null   int64
 1   Tyres            4701 non-null   object
 2   From             4701 non-null   int64
 3   To               4701 non-null   int64
 4   #Laps            4701 non-null   int64
 5   year_x           4701 non-null   int64
 6   raceId           4701 non-null   int64
 7   driverId         4701 non-null   float64
 8   driverRef_x      4701 non-null   object
 9   round            4701 non-null   int64
 10  circuitId        4701 non-null   int64
 11  name_x           4701 non-null   object
 12  date             4701 non-null   object
 13  time_x           4701 non-null   object
 14  weather_cloudy   4701 non-null   bool
 15  weather_cold     4701 non-null   bool
 16  weather_dry      4701 non-null   bool
 17  weather_warm     4701 non-null   bool
 18  weather_wet      4701 non-null   bool
 19  resultId         4701 non-null   int64
 20  constructorId    4701 non-null   int64
 21  number_x         4701 non-null   int64
 22  grid             4701 non-null   int64
 23  position         4701 non-null   object
 24  positionOrder    4701 non-null   int64
 25  points           4701 non-null   float64
 26  laps             4701 non-null   int64
 27  time_y           4701 non-null   object
 28  milliseconds_x   4701 non-null   object
 29  fastestLap       4701 non-null   object
 30  rank             4701 non-null   int64
 31  fastestLapTime   4701 non-null   object
 32  fastestLapSpeed  4701 non-null   object
 33  statusId         4701 non-null   int64
 34  driverRef_y      4701 non-null   object
 35  surname          4701 non-null   object
 36  stop             4701 non-null   int64
 37  lap              4701 non-null   int64
 38  time             4701 non-null   object
 39  duration         4701 non-null   object
 40  milliseconds_y   4701 non-null   int64
dtypes: bool(5), float64(2), int64(19), object(15)
memory usage: 1.3+ MB

In [7]:
modelling_data.duplicated().count()

4701

In [9]:
modelling_data.year_x.unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022])

In [10]:
modelling_data.surname.unique()

array(['Button', 'Vettel', 'Hamilton', 'Webber', 'Alonso', 'Kobayashi',
       'Räikkönen', 'Pérez', 'Ricciardo', 'di Resta', 'Vergne', 'Rosberg',
       'Maldonado', 'Glock', 'Pic', 'Massa', 'Kovalainen', 'Petrov',
       'Schumacher', 'Grosjean', 'Hülkenberg', 'Sutil', 'Gutiérrez',
       'Bottas', 'Chilton', 'van der Garde', 'Kvyat', 'Ericsson', 'Nasr',
       'Sainz', 'Wehrlein', 'Haryanto', 'Ocon', 'Vandoorne', 'Stroll',
       'Giovinazzi', 'Leclerc', 'Gasly', 'Sirotkin', 'Norris', 'Albon',
       'Russell', 'Kubica', 'Tsunoda', 'Latifi', 'de la Rosa',
       'Karthikeyan', 'Merhi', 'Stevens', 'Aitken', 'Mazepin', 'Rossi'],
      dtype=object)

In [11]:
modelling_data.columns

Index(['Unnamed: 0', 'Tyres', 'From', 'To', '#Laps', 'year_x', 'raceId',
       'driverId', 'driverRef_x', 'round', 'circuitId', 'name_x', 'date',
       'time_x', 'weather_cloudy', 'weather_cold', 'weather_dry',
       'weather_warm', 'weather_wet', 'resultId', 'constructorId', 'number_x',
       'grid', 'position', 'positionOrder', 'points', 'laps', 'time_y',
       'milliseconds_x', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'driverRef_y', 'surname', 'stop', 'lap',
       'time', 'duration', 'milliseconds_y'],
      dtype='object')